
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.odejda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 400px;
    height: 600px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-img {
    width: auto;
    height: 450px;
    object-fit: cover;
}

.product-details {
    padding: 20px;
}

.product-name {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.product-description {
    font-size: 21px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
    margin-top: 10px;
}

#prod-img{
    width: auto;
    height: 400px;
    object-fit: cover;

}

@media (max-width: 600px) {
    .odejda{
        display: flex;
        flex-direction: column;
    
    }

    .product-card {
        width: 90%;
    }
    .product-img{
        width: 90%;
    }
}